.cta {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 224px;

  margin-bottom: 43px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 79px;
  }
}

.ctaRow {
  width: 100%; /*If h1 would wrap on desktop version, when the screen is to narrow, width of the row can be increased*/
  padding: 0px 130px;
  background-color: #d2d2d2;
  border-radius: 25px;
}

.cta h1 {
  font-size: 45px;
  font-weight: bold;
  text-align: left;
}

.cta button {
  width: 170px;
  height: 40px;
  background-color: #f8e948;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.ctaColumn1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 224px;
  margin: 0px;
  padding: 0px;
}

.ctaColumn2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 224px;
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 991px) {
  .cta h1 {
    font-size: 35px;
    line-height: 50px;
    text-align: center;
  }
  .cta {
    height: fit-content;
  }
  .cta .row {
    height: fit-content;
    padding: 30px;
  }

  .ctaColumn1 {
    justify-content: center;
    height: fit-content;
  }

  .ctaColumn2 {
    justify-content: center;
    height: fit-content;
  }

  .cta button {
    font-size: 16px;
  }
}
