.founderModule {
  margin-bottom: 88px;
  .row2 {
    margin-bottom: 138px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0px;
    }
  }
}

.desktop-header {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.mobile-header {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

#founderImg {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.founderModule {
  h1 {
    margin-bottom: 53px;
    font-size: 56px;
  }
}

.founderModule {
  p {
    font-size: 20px;
  }
}

#zigzag {
  width: 100%;
}
@media only screen and (max-width: 991px) {
  #zigzag {
    display: none;
  }

  .founderModule {
    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    .row2 {
      div:nth-child(1) {
        order: 3;
      }
      div:nth-child(2) {
        order: 2;
      }
    }

    h1 {
      font-size: 35px;
      text-align: center;
      margin: 0px;
    }
  }

  #founderImg {
    width: 65%;
    display: block;
    height: auto;
    margin: auto auto 30px auto;
  }
}
