#heroModule {
  background-image: url(../../img/heromodule.PNG);
  background-size: cover;
  height: 100vh;
  padding: 0 10vw 0 10vw;
  text-align: center;
}

#heroModule h1 {
  font-size: 56px;
}

#heroModule p {
  font-size: 20px;
  padding: 0 15vw 0 15vw;
}

.highlight {
  background-color: #f8e948;
}

@media only screen and (max-width: 768px) {
  #heroModule {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    height: 70vh;
    padding: 0vw;
    text-align: center;
  }
}
