#illustrTxtModule {
  margin-bottom: 109px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
  .section-header {
    width: 100%;
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 56px;
      margin-bottom: 89px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 49px;
      }
    }
  }
}

#illustrTxtModule h1 {
  font-size: 45px;
  font-weight: bold;
  line-height: 67px;
  margin-bottom: 20px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.headerMbile {
  h1 {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
  h1 {
    @include media-breakpoint-down(sm) {
      display: block !important;
    }
  }
}
#illustrTxtModule p {
  font-size: 16px;
  line-height: 24px;
}

.illustrationSmHomepage {
  max-width: 100%;
  height: auto;
}
.imageBox-left-padding {
  padding-left: 80px;
  padding-right: 60px;
  @include media-breakpoint-down(sm) {
    padding: 15px;
  }
}
.imageBox-right-padding {
  padding-left: 60px;
  padding-right: 80px;
  @include media-breakpoint-down(sm) {
    padding: 15px;
  }
}
.how-it-works {
  #illustrTxtModule {
    margin-bottom: 189px;
    h1 {
      margin-bottom: 87px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 0px;
      }
    }
    p {
      font-size: 25px;
    }
  }

  .imageBox-right-padding {
    padding-left: 80px;
    padding-right: 0px;
    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
  }
  .imageBox-left-padding {
    padding-left: 0px;
    padding-right: 80px;
    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
  }
}

.illustrTxtBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .rowIllustr {
    display: flex;
    flex-direction: column-reverse;
  }
  .illustrTxtBox {
    order: 1;
  }
  .imageBox {
    order: 2;
  }

  #illustrTxtModule p {
    margin-bottom: 20px;
  }

  #illustrTxtModule h1 {
    font-size: 27px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 10px;
  }

  #illustrTxtModule img {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .illustrTxtBox {
    padding-top: 0vw;
  }
}
