.team-module {
  margin-bottom: 165px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 93px;
  }
  .team-row {
    background-image: url("../img/Rectangle40.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;

    img {
      width: 100%;
    }
  }

  .team-module {
    p {
      font-size: 20px;
      line-height: 30px;
    }
    h1 {
      font-size: 56px;
      font-weight: bold;
    }
  }

  .teamImage {
    width: 332px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .bold {
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
  }

  @media only screen and (max-width: 991px) {
    .teamImage {
      width: 100%;
      height: auto;
      margin-top: 40px;
      margin-bottom: 28px;
    }

    .team-row {
      background-image: none;
      padding-left: 30px;
      padding-right: 30px;
    }

    .team-module {
      p {
        font-size: 16px;
        line-height: 24px;
      }
      .bold {
        font-weight: bold;
        font-size: 22px;
        line-height: 33px;
      }
      h1 {
        font-size: 35px;
      }
    }
  }
}
