.testimonial {
  margin-bottom: 76px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 46px;
  }
  .section-header {
    width: 100%;
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 56px;
      margin-bottom: 89px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 49px;
      }
    }
    strong {
      font-weight: bold;
      background: #f8e948;
      border-radius: 5px;
    }
  }

  .autorTName {
    font-size: 16px;
    width: 100%;
    display: block;
    line-height: 20px;
  }

  div:nth-child(2) {
    p {
      font-size: 25px;
      line-height: 37px;
      margin-bottom: 44px;
      font-style: italic;
      @include media-breakpoint-down(sm) {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 20px;
      }
    }
  }
  .testimonialImage {
    width: 354px;
    display: block;
    margin: auto;
  }
  .quotationPlaceholder {
    empty-cells: show;
    text-align: right;
    height: 56px;
  }

  .quotationCol {
    padding: 0px;
    display: flex;
    align-content: flex-start;
    width: 27px;
  }

  .quotationMark {
    text-align: right;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 76px;
    padding: 0px;
    height: 76px;
    line-height: 70px;
  }

  .testimonial-txt {
    padding: 0px;
    font-size: 25px;
    font-style: italic;
  }

  .authorTestimonial {
    padding: 0px;
    font-size: 20px !important;
    font-style: normal !important;
  }
  .autorJobdescription {
    line-height: 20px;
  }

  .bold {
    font-weight: bold;
  }
  @media only screen and (max-width: 991px) {
    .img-box {
      order: 1 !important;
    }
    .txt-box {
      order: 2 !important;
    }

    .testimonialImage {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      width: 70%;
    }

    .autorJobdescription {
      font-size: 14px;
    }
  }

  .yellow-line {
    margin: 76px auto auto auto;
    width: 80%;
    height: 4px;
    background: #f8e948;
    border-radius: 10px;
    @include media-breakpoint-down(sm) {
      margin: 26px auto auto auto;
    }
  }

  .yellow-line-visible {
    display: block;
  }

  .yellow-line-unvisible {
    display: none;
  }
}
